@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: var(--base-font-family);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--background);
}

.grid_main_wrapper {
  min-height: calc(100vh - 4rem);
}
.page_wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 4rem auto;
}
.grid_footer {
  height: 4rem;
}

:root {
  --base-font-family: "Open Sans", sans-serif;
  /* sizes */
  --base-font-size: 1rem; /* 16px */
  --medium-font-size: 0.875rem; /* 14px */
  --small-font-size: 0.75rem; /* 12px */
  --xsmall-font-size: 0.625rem; /* 10px */
  --border-radius: 12px;
  /* colors */
  --base-color: #152028;
  --primary-color: #4e42d4;
  --success-color: #1d7c00;
  --danger-color: #e52733;
  --background: #f8f9f9;
  --background-white: #ffffff;
  --light-font: #ffffff;
  --primary-font: var(--base-color);
  --secondary-font: var(--primary-color);
  /* shadows */
  --box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
  --box-shadow-hover: 5px 5px 6px rgba(0, 0, 0, 0.25);
  /* filters to tinge icons */
  --icon-filter: invert(22%) sepia(76%) saturate(3039%) hue-rotate(240deg)
    brightness(87%) contrast(90%);
  --icon-filter-white: invert(99%) sepia(1%) saturate(1403%) hue-rotate(16deg)
    brightness(113%) contrast(101%);
  --icon-filter-blackish: invert(8%) sepia(13%) saturate(1770%)
    hue-rotate(163deg) brightness(96%) contrast(92%);
}

/*Here general roles for the font - the size should not change but the color can*/
h1 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary-color-font);
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--primary-color-font);
}

h3 {
  font-size: 1.125rem;
}

p {
  font-size: 1rem;
}
