.service_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 400px;
  padding: 1.5rem 2rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius);
}
.service_container:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.serviceName {
  align-self: center;
}
.serviceRight {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.serviceDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.servicePrice {
  margin-bottom: 8px;
}
.serviceDuration {
  color: rgba(0, 0, 0, 0.4);
  font-weight: lighter;
}
.addImage {
  width: 1rem;
  filter: var(--icon-filter);
  justify-self: flex-end;
}
