.service_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius);
  margin: 1rem auto;
  transition: transform 0.2s; /* Animation */
  color: var(--primary-font)
}
.service_container:hover {
  background-color: rgba(0, 0, 0, 0.05);
  transform: scale(1.02);
  cursor: pointer;
}

.selected {
  background-color: rgba(0, 0, 0, 0.05);
}
.selected:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.serviceName {
  align-self: center;
}
.serviceRight {
  /*width: 30%; I comment this one because I think it's look better if the price and time go where the icon is when there is no icon*/
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.serviceDetails {
  width: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.servicePrice {
  margin-bottom: 8px;
  font-size: var(--small-font-size);
}
.serviceDuration {
  color: rgba(0, 0, 0, 0.4);
  font-weight: lighter;
  font-size: var(--small-font-size);
}
.addImage {
  width: 1rem;
  height: 1rem;
  filter: var(--icon-filter);
  justify-self: flex-end;
  margin-left: 1rem;
}
.addImage svg {
  height: 100%;
}
