.container {
  width: 100vw;
  height: 4rem;
  background-color: var(--primary-color);
  color: white;
  bottom: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagewidth {
  width: 80vw;
}
.pagewidth,
.pagewidth div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.link,
.icon {
  margin: 1rem;
}

.icon {
  width: 2rem;
  filter: var(--icon-filter-white);
}
