.container {
  padding: 2rem 2rem 3rem 1.5rem;
  min-width: 20rem;
}
.container h3 {
  margin-bottom: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.day {
  display: flex;
  justify-content: space-between;
  font-weight: lighter;
  margin-bottom: 0.5rem;
  
}
.day div {
  display: flex;
  justify-content: space-between;
  width: 7rem;
}

@media screen and (min-width: 760px) {
  .day {
    margin-bottom: 1rem;
  }
}
