.container {
  padding: 3rem 1.5rem 3rem 1.5rem;
  overflow-y: hidden;
  width: 100%;
}

.setUpForm {
  width: 100%;
  padding: 3rem 1.5rem 3rem 1.5rem;
}

.setUpForm label {
  color: var(--primary-color);
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.adresse,
.opening {
  display: flex;
  align-items: flex-start;
}

.col30,
.col70,
.col50 {
  width: 100%;
  margin-top: 1rem;
}

.setUpInfos {
  border-bottom: 1px solid #ccc;
  padding: 0 0 5rem;
}

.setUpOpenings {
  margin-top: 1rem;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 5rem;
}
.breadcrumb {
  margin-bottom: 1rem;
}
.arrows {
  font-size: 0.75rem;
}
.current_breadcrumb {
  color: var(--primary-color);
  font-weight: bold;
}

@media screen and (min-width: 760px) {
  .container {
    width: 80%;
    margin: auto;
    padding: 4rem;
  }
  .setUpForm {
    padding: 4rem;
  }
  .row {
    flex-direction: row;
  }
  .col30 {
    float: left;
    width: 20%;
    margin-top: 1rem;
  }

  .col70 {
    float: left;
    width: 80%;
    margin-top: 1rem;
  }

  .col50 {
    float: left;
    width: 49%;
    margin-top: 1rem;
  }

  .col50:first-child {
    margin-right: 2%;
  }
}
