.button {
  font-family: var(--base-font);
  border: 1.5px solid rgba(255, 255, 255, 0);
  color: white;
  text-align: center;
  border-radius: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.icon {
  padding-right: 8px;
  height: var(--medium-font);
  filter: var(--icon-filter-white);
}
.medium {
  padding: 12px 40px;
  font-size: var(--medium-font);
}
.small {
  padding: 8px 40px;
  font-size: var(--medium-font);
}

.xsmall {
  padding: 2px 12px;
  font-size: var(--xsmall-font);
}

.primary {
  background-color: var(--primary);
}
.primary:hover {
  background-color: white;
  border: 1.5px solid var(--primary);
  color: var(--blackish);
}

.primary:hover .icon {
  filter: var(--icon-filter);
}
.secondary {
  background-color: white;
  border: 1.5px solid var(--primary);
  color: var(--blackish);
}
.secondary .icon {
  filter: var(--icon-filter);
}
.secondary:hover {
  background-color: var(--primary);
  color: white;
}
.secondary:hover .icon {
  filter: var(--icon-filter-white);
}

.success {
  background-color: var(--success);
}
.success:hover {
  background-color: white;
  border: 1.5px solid var(--success);
  color: var(--blackish);
}
.success:hover .icon {
  filter: var(--icon-filter-blackish);
}
.danger {
  background-color: var(--danger);
}
.danger:hover {
  background-color: white;
  border: 1.5px solid var(--danger);
  color: var(--blackish);
}
.danger:hover .icon {
  filter: var(--icon-filter-blackish);
}

.invisible {
  background-color: rgba(255, 255, 255, 0);
  color: var(--blackish);
}
.invisible .icon {
  filter: var(--icon-filter-blackish);
}
.invisible:hover {
  background-color: rgba(255, 255, 255, 0);
  border: 1.5px solid var(--blackish);
  color: var(--blackish);
}
