.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 500px;
  padding: 1rem;
  border-radius: var(--border-radius);
}
.container:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.contact {
  display: flex;
  align-items: center;
}
.icon {
  height: 1.5rem;
  padding-right: 1rem;
  filter: var(--icon-filter);
}
.arrow_icon {
  height: 1rem;
  filter: var(--icon-filter);
}
.info_hl {
  font-size: var(--base-font-size);
  margin-bottom: 0.5rem;
  font-weight: bold;
}
.info_detail {
  font-size: var(--base-font-size);
  font-weight: lighter;
}
