.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.radio_element {
  display: flex;
  align-items: center;
}
.input {
  margin-left: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 2px solid var(--primary-color);
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input:after {
  content: "";
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  position: relative;
  background-color: var(--primary-color);
  display: none;
}

.input:checked:after {
  display: block;
}
