.container {
  padding: 1rem;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.time {
  font-weight: bold;
  color: var(--primary-color);
  margin-bottom: 1rem;
}
.info {
  display: flex;
  margin-bottom: 0.5rem;
}
.icon {
  filter: var(--icon-filter-blackish);
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}
